<h1>New Message</h1>
<form action='/new' method='post'>
  <label for='user'>
    User:
    <input type='text' name='user' id='user' />
  </label>
  <label for='message'>
    Message:
    <textarea name='message' id='message' rows='4'></textarea>
  </label>
  <button type='submit'>Send Message</button>
</form>
<a href='/'>Back To Index</a>