<h1>New Message</h1>
<form action='/new' method='post'>
  <label for='user'>
    User:
    <input type='text' name='user' id='user' value='{{user}}' />
  </label>
  <label for='text'>
    Message:
    <textarea name='text' id='text' rows='4'>{{text}}</textarea>
  </label>
  <button type='submit'>Send Message</button>
</form>
<a href='/'>Back To Index</a>