body {
  background-color: rgb(83, 83, 83);
  color: rgb(233, 233, 233);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

tr,
td {
  padding: 1em;
}

a {
  margin-top: 32px;
  color: rgb(233, 233, 233);
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

label {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
}

input {
  height: 32px;
}

textarea {
  padding: 0.5em;
  resize: vertical;
}
